<h1>From edit</h1>
<form (submit)="onSubmit()" class="column">
	<mat-form-field appearance="fill">
			<mat-label>Form name</mat-label>
			<input matInput required>
	</mat-form-field>
	
	<div *ngFor="let field of fields" class="row">
		<mat-form-field appearance="fill">
				<mat-label>Attribute name</mat-label>
				<input matInput required [value]="field.name" #attName (keyup)="field.name=attName.value">
		</mat-form-field>
		
		<mat-form-field appearance="fill">
			<mat-label>Select</mat-label>
			<mat-select [value]="field.type" (selectionChange)="field.type=$event.value">
				<mat-option value="text">Text</mat-option>
				<mat-option value="number">Number</mat-option>
				<mat-option value="date">Date</mat-option>
				<mat-option value="button">Button</mat-option>
			</mat-select>
		</mat-form-field>
		
		<button mat-raised-button color="warn">delete</button>
	</div>
  <button mat-raised-button color="accent" (click)="onAddField()">Add attribute</button>

	<button mat-raised-button color="primary" type="submit">Create</button>
</form>
