<h1>Form to submit</h1>
<div  *ngFor="let field of fields">
    <div [ngSwitch]="field.type">
        <div *ngSwitchCase="'text'">
            <mat-form-field appearance="fill">
                <mat-label>{{ field.name }}</mat-label>
                <input matInput type="text" [value]="field.name" #attName (keyup)="field.value=attName.value">
            </mat-form-field>
        </div>
    
        <div *ngSwitchCase="'number'">
            <mat-form-field appearance="fill">
                <mat-label>{{ field.name }}</mat-label>
                <input matInput type="number" [value]="field.value">
            </mat-form-field>
        </div>
    
        <div *ngSwitchCase="'date'">
            <mat-form-field appearance="fill">
                <mat-label>{{ field.name }}</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div *ngSwitchCase="'button'">
            <button mat-raised-button>{{ field.name }}</button>
        </div>
    
    </div>
</div>

<mat-form-field appearance="fill">
    <mat-label>submit</mat-label>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</mat-form-field>